
<div class="modal fade in" data-backdrop="static" id="ImportModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Προσθήκη δεδομένων με χρήση Excel</h4>
            </div>
            <form asp-controller="@ViewData.Eval("Entity")" asp-action="Import" enctype="multipart/form-data" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label">Λήψη οδηγού excel </label>
                        <div class="input-group">
                            @if (ViewData.Eval("Entity") == "RealWorkHour" || ViewData.Eval("Entity") == "WorkHour")
                            {
                <a href="@Url.Content("~/"+ViewData.Eval("Entity")+"/DownloadExcelTemplate/"+ViewData.Eval("TimeshiftId"))"><button type="button" class="btn btn-primary">Λήψη</button></a> }
                            else
                            {
                <a href="@Url.Action("DownloadExcelTemplate", ViewData.Eval("Entity"))"><button type="button" class="btn btn-primary">Λήψη</button></a>}
                            <span class="text-danger"></span>
                        </div>
                    </div>

                    @if (ViewData.Eval("Entity") == "RealWorkHour" || ViewData.Eval("Entity") == "WorkHour")
                    {
        <div class="form-group">
            <p class="control-label">Προσοχή, όλες οι γραμμές πρέπει να αναφέρονται στο ίδιο "Χρονοδιάγραμμα"</p>
        </div>
                        <div class="form-group">
                            <p class="control-label">Προσοχή, όλες οι υπάρχων βάρδιες του "Χρονοδιαγράμματος" θα διαγραφούν!</p>
                        </div>}

                    <div class="form-group">
                        <label class="control-label">Ανέβασμα οδηγού excel συμπληρωμένο</label>
                        <div class="input-group">
                            <input type="file" id="ImportExcel" data-AjaxUrl="@ViewData.Eval("Entity")" name="ImportExcel" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Κλείσιμο</button>
                    <button type="submit" class="btn btn-primary pull-right">Υποβολή</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade in" data-backdrop="static" id="ExportModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Εξαγωγή δεδομένων με χρήση Excel</h4>
            </div>
            <form asp-controller="@ViewData.Eval("Entity")" asp-action="Import" enctype="multipart/form-data" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label">Λήψη excel </label>
                        <div class="input-group">
                            <a href="@Url.Action("DownloadExcelWithData", ViewData.Eval("Entity"))"><button type="button" class="btn btn-primary">Λήψη</button></a>
                            <span class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Κλείσιμο</button>
                    @*<button type="submit" class="btn btn-primary pull-right">Υποβολή</button>*@
                </div>
            </form>
        </div>
    </div>
</div>
