
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        @*<div class="user-panel">
                <div class="pull-left image">
                    <img src="~/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>*@

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Βασικό μενού</li>



            <!-- Customer -->
            @if (Html.HasAnyChildButton("Customer"))
            {
        <li class="treeview ">
            <a href="#">
                <i class="fa  fa-user-circle-o"></i> <span>Πελάτες</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @Html.LinkButton("Customer", "Index", "Πελάτης", "Customer_View")
                @Html.LinkButton("Customer", "Create", "Προσθήκη πελάτη", "Customer_Create")
            </ul>
        </li>            }

            <!-- WorkPlace -->
            @if (Html.HasAnyChildButton("WorkPlace"))
            {
        <li class="treeview ">
            <a href="#">
                <i class="fa fa-map-marker"></i> <span>Πόστα</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @Html.LinkButton("WorkPlace", "Index", "Πόστα", "WorkPlace_View")
                @Html.LinkButton("WorkPlace", "Create", "Προσθήκη Πόστου", "WorkPlace_Create")
            </ul>
        </li>            }

            <!--TimeShift -->
            @if (Html.HasAnyChildButton("TimeShift"))
            {
        <li class="treeview ">
            <a href="#">
                <i class="fa fa-table"></i> <span>Χρονοδιαγράμματα</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @Html.LinkButton("Timeshift", "Index", "Χρονοδιάγραμμα", "TimeShift_View")
                @Html.LinkButton("Timeshift", "Create", "Προσθήκη Χρονοδιαγράμματος", "TimeShift_Create")
            </ul>
        </li>            }

            <!--RealWorkHour -->
            @if (Html.HasAnyChildButton("RealWorkHour"))
            {
        <li class="treeview ">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Πραγματικές βάρδιες</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @Html.LinkButton("RealWorkhour", "Index", "Π.βάρδιες", "RealWorkHour_View")
                @Html.LinkButton("RealWorkhour", "Create", "Προσθήκη π.βάρδιας", "RealWorkHour_Create")
                @Html.LinkButton("RealWorkhour", "CurrentDay", "Δηλωμένες π.βάρδιες ημέρας", "RealWorkHour_View")
            </ul>
        </li>            }




            <!-- Employees -->
            <li class="header">Υπάλληλοι</li>

            <!-- Employee -->
            @if (Html.HasAnyChildButton("Employee"))
            {
        <li class="treeview ">
            <a href="#">
                <i class="fa fa-users "></i> <span>Υπάλληλοι</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @Html.LinkButton("Employee", "Index", "Υπάλληλοι", "Employee_View")
                @Html.LinkButton("Employee", "Create", "Προσθήκη υπαλλήλου", "Employee_Create")
            </ul>
        </li>            }


            <!-- Leave -->
            @if (Html.HasAnyChildButton("Leave"))
            {
        <li class="treeview ">
            <a href="#">
                <i class="fa fa-users "></i> <span>Άδειες</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @Html.LinkButton("Leave", "Index", "Άδειες", "Leave_View")
                @Html.LinkButton("Leave", "Create", "Προσθήκη άδειας", "Leave_Create")
            </ul>
        </li>            }

            <!-- DayOff-->
            @if (Html.HasAnyChildButton("DayOff"))
            {
        <li class="treeview ">
            <a href="#">
                <i class="fa fa-users "></i> <span>Ρεπό</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @Html.LinkButton("TODO", "Index", "TODO")
            </ul>
        </li>            }


            <!-- Projections -->
            <li class="header">Προβολές</li>


            <li class="treeview-menu">
                @Html.LinkButton("Projection", "Difference", "Διαφορές", "ProjectionDifference_View")
            </li>
            <li class="treeview-menu">
                @Html.LinkButton("Projection", "Concentric", "Συγκεντρωτικό", "ProjectionConcentric_View")
            </li>
            <li class="treeview-menu">
                @Html.LinkButton("Projection", "RealWorkHoursAnalytically", "Π. βάρδιες αναλυτικά", "ProjectionRealWorkHoursAnalytically_View")
            </li>
            <li class="treeview-menu">
                @Html.LinkButton("Projection", "RealWorkHoursAnalyticallySum", "Π. βάρδιες αναλυτικά σε ώρες", "ProjectionRealWorkHoursAnalyticallySum_View")
            </li>
            <li class="treeview-menu">
                @Html.LinkButton("Projection", "RealWorkHoursSpecificDates", "Επιλεγμένες ημερομηνίες", "ProjectionRealWorkHoursSpecificDates_View")
            </li>
            <li class="treeview-menu">
                @Html.LinkButton("Projection", "EmployeeRealHoursSum", "Ώρες ανα εργαζόμενο", "ProjectionEmployeeRealHoursSum_View")
            </li>
            <li class="treeview-menu">
                @Html.LinkButton("Projection", "PresenceDaily", "Παρουσίες ημέρας", "ProjectionPresenceDaily_View")
            </li>



            <!-- Lookups -->
            <li class="header">Lookups</li>
            <!-- Specialization -->
            @if (Html.HasAnyChildButton("Specialization"))
            {
        <li class="treeview ">
            <a href="#">
                <i class="fa fa-database"></i> <span>Ειδικότητες</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @Html.LinkButton("Specialization", "Index", "Ειδικότητες", "Specialization_View")
                @Html.LinkButton("Specialization", "Create", "Προσθήκη ειδικότητας", "Specialization_Create")
            </ul>
        </li>
                        <li class="treeview ">
                            <a href="#">
                                <i class="fa fa-database"></i> <span>Είδος άδειας</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                @Html.LinkButton("LeaveType", "Index", "Άδειες", "LeaveType_View")
                                @Html.LinkButton("LeaveType", "Create", "Προσθήκη άδειας", "LeaveType_Create")
                            </ul>
                        </li>            }


            <li class="header">Διαχείριση</li>



            <!-- Company -->
            @if (Html.HasAnyChildButton("Company"))
            {
        <li class="treeview ">
            <a href="#">
                <i class="fa fa-building-o"></i> <span>Εταιρίες</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @Html.LinkButton("Company", "Index", "Εταιρίες", "Company_View")
                @Html.LinkButton("Company", "Create", "Προσθήκη εταιρίας", "Company_Create")
            </ul>
        </li>            }

            <!-- User -->
            @if (Html.HasAnyChildButton("User"))
            {
        <li class="treeview ">
            <a href="#">
                <i class="fa fa-lock"></i> <span>Χρήστες</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @Html.LinkButton("User", "Index", "Χρήστες", "User_View")
                @Html.LinkButton("User", "Create", "Προσθήκη χρήστη", "User_Create")

            </ul>
        </li> } @* Register *@
            <!-- Register -->
            @*<li class="treeview ">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>εγγραφη</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @Html.LinkButton("Account", "Register", "Εγγραφή")
                @Html.LinkButton("Account", "CreateUser", "Προσθήκη νέου χρήστη")

            </ul>
        </li>*@


            @*<li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>*@
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>