
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        @*<div class="user-panel">
                <div class="pull-left image">
                    <img src="~/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>*@

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Βασικό μενού</li>

            <!-- Company -->
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-building-o"></i> <span>Εταιρίες</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @Html.LinkButton("Company", "Index", "Εταιρίες")
                    @Html.LinkButton("Company", "Create", "Προσθήκη εταιρίας")
                </ul>
            </li>

            <!-- Customer -->
            <li class="treeview ">
                <a href="#">
                    <i class="fa  fa-user-circle-o"></i> <span>Πελάτες</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @Html.LinkButton("Customer", "Index", "Πελάτης")
                    @Html.LinkButton("Customer", "Create", "Προσθήκη πελάτη")
                </ul>
            </li>

            <!-- WorkPlace -->

            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-map-marker"></i> <span>Πόστα</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @Html.LinkButton("WorkPlace", "Index", "Πόστα")
                    @Html.LinkButton("WorkPlace", "Create", "Προσθήκη Πόστου")
                </ul>
            </li>

            <!--TimeShift -->
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Χρονόγραμμα</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @Html.LinkButton("Timeshift", "Index", "Χρονόγραμμα")
                    @Html.LinkButton("Timeshift", "Create", "Προσθήκη Χρονόγραμματος")
                </ul>
            </li>

            <!--RealWorkHour -->
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Βάρδιες</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @Html.LinkButton("RealWorkhour", "Create", "Δήλωση νέας βάρδιας")
                    @Html.LinkButton("RealWorkhour", "Index", "Βάρδιες")
                    @Html.LinkButton("RealWorkhour", "CurrentDay", "Δηλωμένες βάρδιες ημέρας")
                </ul>
            </li>




            <!-- Employees -->
            <li class="header">Υπάλληλοι</li>

            <!-- Employees -->
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-users "></i> <span>Υπάλληλοι</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @Html.LinkButton("Employee", "Index", "Υπάλληλοι")
                    @Html.LinkButton("Employee", "Create", "Προσθήκη υπαλλήλου")
                </ul>
            </li>

            <!-- Leaves -->
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-users "></i> <span>Άδειες</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @Html.LinkButton("Leave", "Index", "Άδειες")
                    @Html.LinkButton("Leave", "Create", "Προσθήκη άδειας")
                </ul>
            </li>

            <!-- DayOff-->
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-users "></i> <span>Ρεπό</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @Html.LinkButton("TODO", "Index", "TODO")
                </ul>
            </li>



            <!-- Prolictions -->
            <li class="header">Προβολές</li>



            <li class="treeview-menu">
                @Html.LinkButton("Projection", "Index", "Προβολη 1")
            </li>

            <li class="treeview-menu">
                @Html.LinkButton("Projection", "Index", "Προβολη 2")
            </li>

            <li class="treeview-menu">
                @Html.LinkButton("Projection", "Index", "Προβολη 3")
            </li>

            <li class="treeview-menu">
                @Html.LinkButton("Projection", "Difference", "Διαφορές")
            </li>



            <!-- Lookups -->
            <li class="header">Lookups</li>
            <!-- Specialization -->
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-database"></i> <span>Ειδικότητες</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @Html.LinkButton("Specialization", "Index", "Ειδικότητες")
                    @Html.LinkButton("Specialization", "Create", "Προσθήκη ειδικότητας")
                </ul>
            </li>



            <li class="header">Ασφάλεια</li>

            <!-- Specialization -->
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-lock"></i> <span>Διαχείριση</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @Html.LinkButton("User", "Index", "Χρήστες")
                    @Html.LinkButton("User", "Create", "Προσθήκη χρήστη")

                </ul>
            </li>


            @* Register *@
            <!-- Register -->
            @*<li class="treeview ">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>εγγραφη</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @Html.LinkButton("Account", "Register", "Εγγραφή")
                @Html.LinkButton("Account", "CreateUser", "Προσθήκη νέου χρήστη")

            </ul>
        </li>*@


            @*<li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>*@
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>